<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Rota /filmes → api/filmes.php
    RewriteRule ^filmes$ api/filmes.php [L]
    
    # Desative listagem de diretórios
    Options -Indexes
</IfModule>