[data-dropdown] .dropdown-menu {
    display: none !important;


}

[data-dropdown].active .dropdown-menu {
    display: block !important;
    animation: show-up 0.5s forwards;
}

[data-dropdown] {
    position: relative;
}

[data-dropdown] .dropdown-menu {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.1rem;
    background-color: rgb(31, 31, 31);
    width: 150px;
    z-index: 99999;
    padding: 10px 0;
}

[data-dropdown] .dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 20px; /* posição da setinha */
    width: 0;
    height: 0;
    border-bottom: 12px solid #ff0000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

[data-dropdown] .dropdown-menu li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
}

[data-dropdown] .dropdown-menu li a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

[data-dropdown] .dropdown-menu li a:hover {
    color: red;
}

@keyframes show-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
