img{
    max-width: 100%;
}
.slide-wrapper,
.slide-wrapper2,
.slide-wrapper3,
.slide-wrapper4 {
  max-width: 1400px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;

  .slide,
  .slide2,
  .slide3,
  .slide4 {
    display: flex;
    flex-direction: row;
    transform: translate3d(-1px, 0px, 0px);

    li {
      flex-shrink: 0;
      width: 33vw;
      max-width: 300px;
      margin: 0 2rem;

      a {
        display: block;

        img {
         width: 300px;
          height: auto;
          transition: 0.3s ease-in-out;
        }
      }
    }

    // Efeito de destaque no hover
    &:hover {
      li {
        a img {
          opacity: 0.1;
          transform: scale(1);
        }
      }

      li:hover {
        a img {
          opacity: 1;
          transform: scale(1.02);
        }
      }
    }
  }
}


.lancamentos-texto{
    display: flex;
    justify-content: center;
    margin: 8rem auto;
    h1{
        font-size: 2rem;
        font-weight: 500;
        color: #fff;
        .retangulo{
            max-width: 139px;
            height: 8px;
            background-color: red;
            display: block;
        }
       
    }
      
}
.container_card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo_card{
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  max-width: 20ch;
  color: rgb(251, 251, 251);
}

footer{
    display: flex;
    margin: 2rem auto;
}
.direitos{
    text-align: center;
    justify-items: center;
    margin: 0 auto;
    font-size: 1rem;
    color: #fff;
}
@media(max-width: 600px){
    .direitos{
        font-size: 0.6rem;
    }
}
.film_search{
  text-align: center;
  color: rgb(211, 13, 13);
  font-size: 1.2rem;
}