header{
   backdrop-filter: blur(18px) saturate(150%);
    -webkit-backdrop-filter: blur(18px) saturate(150%);
    background-color: rgb(39, 39, 39);
    border-radius: 12px;
    
  


    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    max-width: 1400px;
    flex-wrap: wrap;
    height: 143px;

    padding: 0 54px 0 54px;
    position: relative;
    
      img{
         width: 200px;
      }
      .nav{
            #menu{
               display: flex;
               gap: 90px;
               margin: auto;
                  .titulos-nomes{
                  text-decoration: none;
                  font-size: 1.4rem;
                  color: #fff;
                  font-weight: 400;
                  z-index: 999;
                  
                 
                  }
         }
      
      }
  
 }