header{
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    max-width: 1400px;
    flex-wrap: wrap;
    height: 143px;
    border-radius: 25px;
    padding: 0 54px 0 54px;
    
      img{
         width: 200px;
      }
      .nav{
            ul{
               display: flex;
               gap: 54px;
               margin: auto;
                  a{
                  text-decoration: none;
                  font-size: 28px;
                  color: #fff;
                  font-weight: 400;
                 
                  }
         }
      
      }
  
 }