header{
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 0 auto;
    max-width: 1400px;
    flex-wrap: wrap;
    height: 143px;
    border-radius: 25px;
    gap: 27px;
    padding: 0 54px 0 54px;
    
    .nav{
       display: flex;
       gap: 27px;
       
       .header-menu{
          display: flex;
       }
       .dropdown-center{
          
          .btn{
             background-color: #262626;
             border: none;
             color: #fff;
             font-size: 24px;
             border-radius: 5px;
          }
       }
    }
    .input-search-nav{
       width: 190px;
       height: 50px;
    }
 }