
[data-menu="button"]{
    display: none;          
    
}
@media (max-width:1100px){
    header{
        justify-content: space-between;
        padding: 0 8rem 0 8rem;
    }
 
   [data-menu="button"]{
        display: flex;    
        background-color: rgb(25, 25, 26);   
        border: none;
        padding: .5rem 1rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: bold; 
        font-size: 1.4rem;
        color: white;
        cursor: pointer;
        margin: 10px;
        align-items: center;
        position: relative;
        z-index: 9999;

        &::before{
            margin-right: 4px;
            content: '';
            display: inline-block;
            height: 2px;
            width: 16px;
            background: red;
            box-shadow: 0 5px red, 0 -5px red;
            transition: transform .3s;

        }
      
        
    }
    
    [data-menu="List" ]{
        gap: 2rem !important;
    }
    
    #menu{
        display: none !important;
        gap: 2rem !important;
        flex-direction: column;
        position: absolute;
        background-color: red;
        align-items: center;
        
        
        width: 230px;
        z-index: 9999;
        padding: 20px 0 20px 0;
        top: 5rem;
        border-radius: 5px;
    }
    .dropdown-menu{
        position: static ;
        border: none !important;
        width: 230px !important;
        border-radius: 0 !important;
        
    }
  
}
[data-menu="button"].active::before{
    transform: rotate(90deg);
}
#menu.active{
    display: block !important;
    display: flex !important;
    align-items: center !important;
    
}

@media (max-width:1100px){
    header{
        justify-content: center;
        padding: 0 5px;
        gap: 1rem;
        width: 380px;
        height: 120px;
    }
    #menu{
        width: 150px;
        a{
            font-size: 1rem !important;
        }
    }
    .dropdown-menu{
    
       width: 10px !important;
       background: none !important;
           
        
    }
    [data-dropdown]:hover .dropdown-menu,
    [data-dropdown].active .dropdown-menu
    {
        display: none;   
    }
    .titulos-nomes{
        font-weight: bold !important;
        &:hover{
            color: black !important;
        }
    }
}
