@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

header {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin: 2rem auto 0 auto;
  max-width: 1400px;
  flex-wrap: wrap;
  height: 143px;
  border-radius: 25px;
  padding: 0 54px 0 54px;
  position: relative;
}
header img {
  width: 200px;
}
header .nav #menu {
  display: flex;
  gap: 54px;
  margin: auto;
}
header .nav #menu a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: show-up 0.3s forwards;
}

[data-dropdown] {
  position: relative;
}
[data-dropdown] .dropdown-menu {
  border-radius: 0 !important;
  gap: 10px;
  top: 2.2rem;
  flex-direction: column;
  position: absolute;
  background-color: rgb(31, 31, 31);
  z-index: 999;
}
[data-dropdown] .dropdown-menu::before {
  content: "";
  color: rgb(31, 31, 31);
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid #ff0000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
[data-dropdown] .dropdown-menu li {
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}
[data-dropdown] .dropdown-menu li a {
  font-weight: 500;
}
[data-dropdown] .dropdown-menu li a:hover {
  color: red !important;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: matrix3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: matrix3d(0, 0, 0);
  }
}
[data-menu=button] {
  display: none;
}

@media (max-width: 1100px) {
  header {
    justify-content: space-between;
    padding: 0 8rem 0 8rem;
  }
  [data-menu=button] {
    display: flex;
    background-color: rgb(25, 25, 26);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 9999;
  }
  [data-menu=button]::before {
    margin-right: 4px;
    content: "";
    display: inline-block;
    height: 2px;
    width: 16px;
    background: red;
    box-shadow: 0 5px red, 0 -5px red;
    transition: transform 0.3s;
  }
  #menu {
    display: none !important;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    background-color: red;
    align-items: center;
    width: 230px;
    z-index: 99;
    padding: 60px 0 20px 0;
    top: 5rem;
    border-radius: 5px;
  }
  .dropdown-menu {
    position: static;
    border: none !important;
    width: 230px !important;
    border-radius: 0 !important;
  }
}
[data-menu=button].active::before {
  transform: rotate(90deg);
}

#menu.active {
  display: block !important;
  display: flex !important;
  align-items: center !important;
}

@media (max-width: 1100px) {
  header {
    justify-content: center;
    padding: 0 5px;
    gap: 1rem;
    width: 380px;
    height: 120px;
  }
  #menu {
    width: 150px;
  }
  #menu a {
    font-size: 1rem !important;
  }
  .dropdown-menu {
    width: 10px !important;
    background: none !important;
  }
  [data-dropdown]:hover .dropdown-menu,
  [data-dropdown].active .dropdown-menu {
    display: none;
  }
  .titulos-nomes {
    font-weight: bold !important;
  }
  .titulos-nomes:hover {
    color: black !important;
  }
}/*# sourceMappingURL=style.css.map */